body{
    background-image:linear-gradient(to right,rgb(249, 198, 231),rgb(255, 242, 190));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;


    /* Hides the scrollbar for Firefox */
    scrollbar-width: none;
    
    /* Hides the scrollbar for Internet Explorer and Edge */
    -ms-overflow-style: none;
}

/* Hides the scrollbar for Chrome, Safari, and Opera */
::-webkit-scrollbar {
  display: none;
}


.nav{
    background-color: antiquewhite;
    overflow: hidden;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar_items a{
    float:left;
    display:block;
    color:rgb(130, 127, 127);
    text-align:center;
    padding: 12px 12px;
    text-decoration: none;
    font-family: "Garamond", "sans-serif";
    font-size:30px;
}

.navbar_items a:hover{
    background-color:cornsilk;
    border-radius:5px;
}

.main_header{
    display:flex;
    flex-direction: row;
}

.quotebook_box{
    margin-top: 80px;
    width: 800px;
    display:flex;
    flex-direction:column;
    gap: 5px;
    margin-left: 12px;
}

.quotebox_text, .login_header{
    gap:5px;
    font-family: "Garamond", "sans-serif";
    text-align: left;
}
.quotebook_title, .login_header, .signup_header{
    color: grey;
    font-size: 100px;
    margin-bottom:0px;
}

.subtitles{
    color: rgb(130, 127, 127);
    margin-top:20px;
    margin-left: 100px;
    font-size: 30px;
}
.submitBtn{
    margin: 15px;
    padding: 20px 20px;
    margin-right: 20px;
    margin: 20px;
    font-size: 30px;
    background-color:cornsilk;
    border:none;
    border-radius: 30px;
    color: rgb(130, 127, 127);
}

.submitBtn:hover{
    cursor:pointer;
    background-color:rgb(255, 220, 243);
}


.homeBtns{
    margin: 15px;
    margin-top: 50px;
}

.loginBtn, .signUpBtn{
    padding: 30px 30px;
    margin: 20px;
    font-size: 30px;
    background-color:cornsilk;
    border:none;
    border-radius: 30px;
    color:silver;
}

.loginBtn:hover{
    background-color:rgb(255, 220, 243);
}

.signUpBtn:hover{
    background-color:rgb(255, 220, 243);
}

.searchbar{
  margin-top: 300px;
  margin-right: 100px;
  width: 100%;
  max-width: 900px;
  padding-right: 20px;
}

.searchbar input[type="text"] {
 text-align:left;
 padding: 50px 60px;
 border-radius: 30px;
 border:none;
 font-size: 20px;
 width: 100%;
}

.welcome_msg {
    color: #555;
    margin-top:20px;
    margin-left: 100px;
    margin-bottom: 0px;
    font-size: 30px;
}

.homeBtns .logOutBtn {
    margin-left: 100px;
    padding: 30px 30px;
    font-size: 30px;
    background-color:cornsilk;
    border:none;
    border-radius: 30px;
}

/* Login and Sign Up Page Styling */

.container, .login_header, .signup_header{
    display: flex;
    justify-content:center;
}

.login_header, .signup_header{
    font-size: 55px;
}

.login_form, .signup_form{
    border-style: solid;
    border-width: 3px;
    border-color: snow;
    background-color: cornsilk;
    padding: 25px;
    text-align: center;
    width: 300px;
    font-size: 20px;
}

.login_form > h3, .signup_form > h3{
    color: grey;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    width: 60%;
}

.login-button, .signup-button{
     background-color: pink;
    border-radius: 10;
    border-color: rgb(235, 195, 227);
}



/* Quote Search Results Styling */

.results-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-page > h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    color: grey;
}

.results-content > p {
    font-family: "Garamond", "sans-serif";
    font-size: 1.5rem;
}

.results-content > .error-message {
    color: maroon;
}

.results-content ul {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

.results-content li {
    background-color: ghostwhite;
    border: 1px solid #b8b8b8;
    border-radius: 15px;
    padding: 20px;
    margin: 1rem 10%;

    display: flex;
    flex-direction: column;
    min-height: 7.5rem;
}

.results-content blockquote {
    margin: 0;
    font-family: "Garamond", "sans-serif";
    font-size: 1.5rem;
}

.results-content cite {
    font-family: "Garamond", "sans-serif";
    font-size: 1.5rem;
    /* font-style: normal; */
    margin-top: auto;
    text-align: right;
    color: #444;
}



/* About Us Styling */

.dev_team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    color:grey;
    font-weight: bold;
}

.dev_team>h1 {
    text-align:center;
    font-weight: bold;
    font-family: "Garamond", "sans-serif";
    font-size: 4rem;
}

.devs {
    display:flex;
    justify-content: center;
    align-items: center;
    position:relative;
    flex-direction: row;
}

.dev {
    flex-grow: 1;
    padding: 1rem;
    padding-bottom: 10px;
    margin: 10px;
    text-align: center;
}

.dev>p {
    text-align:center;
    text-decoration: none;
    font-family: "Garamond", "sans-serif";
    font-size:1.5rem;
    white-space:nowrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    
}

.dev > .noor, .shane, .danny, .bhavana{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.linkedin, .github{
    width: 28px;
    height: 28px;
    margin-right: 6px;
}

.linkedin:hover{
    filter: brightness(2);
}

.github:hover{
    filter: invert(1);
}

.dev_description>h2 {
    text-align:center;
    font-weight: bold;
    font-family: "Garamond", "sans-serif";
    font-size: 3.5rem;
    color:grey;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dev_description>p {
    text-align:center;
    text-decoration: none;
    font-family: "Garamond", "sans-serif";
    font-size: 2rem;
    margin: 0 15%;
    color: grey;
    margin-bottom: 120px;
}

/* Profile Styling */

.profile{
    text-align: center;
    font-family: "Garamond", "sans-serif";
    font-size: 20px;
    color:grey
}

.profile-pic{
    border-radius: 50%;
    width:13%;
    height:auto;
}

.profile-container{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.profile > h2{
    color:grey;
    font-family: "Garamond", "sans-serif";
    font-size: 2rem;
}

.username-follow{
    display: flex;
    align-items: center;
    gap : 10px;
    justify-content: center;

}

.username-follow > p{
    font-size: 105%
}

.follow-button{
    background-color: pink;
    border-radius: 10;
    border-color: rgb(235, 195, 227);
}


.publishedQuotesBtn, .savedQuotesBtn, .logOutBtn{
    background-color: cornsilk;
    border-radius: 5px;
    border-color: rgb(235, 195, 227);
    margin: 30px;
    text-decoration: none;
    color:#929191;
}

.logOutBtn{
    color: rgb(239, 66, 66);
}

.logOutBtn:hover{
    background-color: rgb(221, 144, 144);
}

.publishedQuotesBtn:hover, .savedQuotesBtn:hover{
    background-color:rgb(235, 195, 227);
}

/* Saved Quotes Styling */
.saved-quotes-body ul {
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
}

.savedQuoteElement{
    background-color: ghostwhite;
    border: 1px solid #b8b8b8;
    border-radius: 15px;
    padding: 20px;
    margin: 1rem 10%;

    display: flex;
    flex-direction: column;
    min-height: 7.5rem;
}
/* Feed Styling */

.feed-container{
    display: flex;
    background-color:transparent;

}
.theme-container{
    display:flex;
    flex-direction:column;
    padding: 15px;
    text-align: left;
}

.theme-header{
    text-align:left;
    font-family: "Garamond", "sans-serif";
    font-size: 15px;
    color:grey
}

.themeBtns{
    display:flex;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.theme1{
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: "Garamond", "sans-serif";
    font-size: 25px;
    width: 400px;
    background-image: linear-gradient(to right,rgb(193, 251, 253),rgb(200, 242, 244));
    color:white;
    border-radius: 30px;
}

.theme1-container{
   border-radius: 20px;
   color: grey; 
   text-align: center;
}

.theme1LI{
    background-image: linear-gradient(to right,rgb(213, 247, 248),rgb(229, 251, 252));
}


.theme2{
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: "Garamond", "sans-serif";
    width: 400px;
    font-size: 25px;
    background-image: linear-gradient(to right,rgb(200, 253, 214),rgb(215, 252, 223));
    color:white;
    border-radius: 30px;
}


.theme2-container{
   border-radius: 20px;
   color: grey; 
   text-align: center;
}

.theme2LI{
    background-image: linear-gradient(to right,rgb(209, 255, 221),rgb(239, 244, 240));
}



.theme3{
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: "Garamond", "sans-serif";
    width: 400px;
    font-size: 25px;
    background-image: linear-gradient(to right,rgb(243, 208, 249),rgb(252, 230, 252));
    color:white;
    border-radius: 30px;
}


.theme3-container{
   border-radius: 20px;
   color: grey; 
   text-align: center;
}

.theme3LI{
    background-image: linear-gradient(to right,rgb(249, 212, 255),rgb(246, 234, 246));
}


.theme4{
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: "Garamond", "sans-serif";
    width: 400px;
    font-size: 25px;
    background-image: linear-gradient(to right,rgb(255, 214, 181),rgb(250, 255, 204));
    color:white;
    border-radius: 30px;
}


.theme4-container{
   border-radius: 20px;
   color: grey; 
   text-align: center;
}

.theme4LI{
     background-image: linear-gradient(to right,rgb(255, 214, 181),rgb(250, 255, 204));
}

.post-container{
    padding-left:80px;
    padding-top: 30px;
}

.post-box{
    background-color: white;
    width: 600px;
    height: 300px;
    border-radius: 10px;
}

.user-title{
    font-family: "Garamond", "sans-serif";
    color:grey;
    font-size: 15px;
    text-align:left;
    padding-top:10px;
    padding-left:10px;
}

.quote{
    background-color:rgb(210, 210, 255);
    text-align: center;
    font-size: 20px;
    width: 580px;
    height: 230px;
    margin: 10px;
    border-radius:20px;
}

.postBtns{
    display: flex;
    padding: 10px;
    margin-top: -20px; 

}

.likeBtn, .saveBtn{
    background-color: transparent;
    margin: 5px;
    background-color: transparent;
    border:none;
}

.likeBtn, .saveBtn:hover{
    cursor:pointer;
}

/**Saving and Removing Quotes**/
.saveQuotesBtn, .removeQuotesBtn {
  position:absolute;
  align-self:flex-start;
  margin-top:100px;
  padding: 8px 8px;
  border-radius: 10px;
  cursor:pointer;
  color:#8a8989;
  border:none;
  font-size: 16px;

}

.saveQuotesBtn{
    background-color:cornsilk;
}

.removeQuotesBtn{
    background-color: rgb(249, 198, 231);
}


/**Adjusting for different screen sizes **/
@media only screen and (min-width: 992px) {
    body { 
        font-size: 18px; 
        background-size: cover;
    } 

    .dev{
        max-width: 400px;
    }

}


@media screen and (max-width: 800px)
{
    .searchbar{
    margin-top: 300px;
    margin-right: 50px;
    width: 100%;
    padding-right: 20px;
    }

    .searchbar input[type="text"] {
    text-align:left;
    padding: 20px 20px;
    border-radius: 30px;
    border:none;
    font-size: 15px;
    width: 100%;
    }

    .submitBtn{
        padding: 10px 10px;
        margin: 20px;
        font-size: 20px;
        background-color:cornsilk;
        border:none;
        border-radius: 30px;
        color:silver;
    }

    .homeBtns{
    margin: 10px;
    margin-top: 50px;
    }

    .loginBtn, .signUpBtn{
    padding: 10px 10px;
    margin: 20px;
    font-size: 20px;
    background-color:cornsilk;
    border:none;
    border-radius: 30px;
    color:silver;
    }


}
/* for smaller screen sizes*/
@media screen and (max-width: 700px)
{
    .dev{
        font-size: 12px;
    }

    .navbar_items a{
    float:left;
    display:block;
    color:rgb(130, 127, 127);
    text-align:center;
    padding: 12px 12px;
    text-decoration: none;
    font-family: "Garamond", "sans-serif";
    font-size:18px;
    }   


    .quotebook_title, .login_header, .signup_header{
    color: grey;
    font-size: 50px;
    margin-bottom:0px;
    }

    .searchbar{
    margin-top: 200px;
    margin-right: 50px;
    width: 100%;
    padding-right: 20px;
    }

    .searchbar input[type="text"] {
    text-align:left;
    padding: 20px 30px;
    border-radius: 30px;
    border:none;
    font-size: 14px;
    width: 100%;
    }

    .homeBtns{
    margin: 10px;
    margin-top: 50px;
    }

    .loginBtn, .signUpBtn{
    padding: 10px 10px;
    margin: 20px;
    font-size: 18px;
    background-color:cornsilk;
    border:none;
    border-radius: 30px;
    color:silver;
    }
}

/* Activity Page Styling*/

.activity-container{
    font-family: "Garamond", "sans-serif";
    text-align: center;
    color: grey;
    margin-top: 5%;
    padding: 5%;
    font-size: 1.5rem;
}

.friend-requests button{
    background-color: rgb(249, 183, 194);
    border-radius: 10;
    border-color: rgb(240, 175, 227);
    font-size: 70%;
    border-radius: 10%;
}

.socialMediaAnnoucement{
    color:orange;
    font-family: "Garamond", "sans-serif";
    font-size: 40px;
}

/* Saved Quotes Page Styling */

.saved-quotes-container{
    color:grey;
    text-align: center;
    font-family: "Garamond", "sans-serif";
    padding: 5%;
    font-size: 1.5rem;
}

.saved-quotes-body button{
    background-color: rgb(249, 183, 194);
    border-radius: 10;
    border-color: rgb(240, 175, 227);
    font-size: 85%;
    border-radius: 10%;
}

/* Sign Up Error Messages */
.signup-error{
    color:red;
}

.signup-success{
    color:green;
}
/* AUTO-GENERATED BY REACT
 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.upload-profile-pic-btn{
    position: absolute;
    bottom: 15px;
    right: 15px;
    background: #fff;
    border: 2px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 2rem;
    color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15)
}